-i https://pypi.org/simple
blinker==1.9.0; python_version >= '3.9'
certifi==2024.8.30; python_version >= '3.6'
click==8.1.7; python_version >= '3.7'
flask==3.1.0; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
icalendar==6.1.0; python_version >= '3.8'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
jplephem==2.22
markupsafe==3.0.2; python_version >= '3.9'
numpy==2.1.3; python_version >= '3.10'
packaging==24.2; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sgp4==2.23
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
skyfield==1.49
tzdata==2024.2; python_version >= '2'
werkzeug==3.1.3; python_version >= '3.9'
